PUID=1000
PGID=1000
TZ=Europe/Bucharest

# WHMCS
WHMCS_LICENSE=your-license-key-here
WHMCS_SERVER_IP=1.2.3.4
WHMCS_SERVER_URL=whmcs.example.com

# Baza de date
DB_HOST=whmcs-db
DB_PORT=3306
DB_USER=whmcs
DB_PASSWORD=schimba_parola
DB_NAME=whmcs
MYSQL_ROOT_PASSWORD=schimba_parola_root
CC_ENCRYPTION_HASH=genereaza_64_caractere_alfanumerice
